## Session 1

In [2]:
radius = 2
pi = 3.14
area = pi * radius**2

print(area)

12.56

In [3]:
name = "CHVLR"
pronunciation = "'shuh' + 'VAL' + 'ee' + 'ay'"
sentence = f"My name is {name} and it is pronounced {pronunciation}"
print(sentence)

My name is CHVLR and it is pronounced 'shuh' + 'VAL' + 'ee' + 'ay'

In [4]:
slice_this_phrase = 'dog cat racoon'

dog = slice_this_phrase[:3]
cat = slice_this_phrase[4:7]
racoon = slice_this_phrase[-6:]

print(dog)
print(cat)
print(racoon)

dog
cat
racoon

In [5]:
list = [1, 2, 3]
list.append(4)
list.extend([4, 5, 6])

print(list)

[1, 2, 3, 4, 4, 5, 6]

## Session 2

In [6]:
restaurants = {"McDonalds": "Burger",
               "Starbucks": "Coffee",
               "KFC": "Chicken",
               "Zizzis": ["Pizza, Pasta"],
               "The Pub": {"Monday": "Soup",
                           "Tuesday": "Sausage",
                           "Others": "Booze"
                           }
                        }

print(restaurants["McDonalds"])
print(restaurants["The Pub"]["Monday"])

restaurants["Geminis"] = "Food poisoning"

print(restaurants.keys())
print(restaurants.values())
print(restaurants.items())

print("McDonalds" in restaurants)

Burger
Soup
dict_keys(['McDonalds', 'Starbucks', 'KFC', 'Zizzis', 'The Pub', 'Geminis'])
dict_values(['Burger', 'Coffee', 'Chicken', ['Pizza, Pasta'], {'Monday': 'Soup', 'Tuesday': 'Sausage', 'Others': 'Booze'}, 'Food poisoning'])
dict_items([('McDonalds', 'Burger'), ('Starbucks', 'Coffee'), ('KFC', 'Chicken'), ('Zizzis', ['Pizza, Pasta']), ('The Pub', {'Monday': 'Soup', 'Tuesday': 'Sausage', 'Others': 'Booze'}), ('Geminis', 'Food poisoning')])
True

In [7]:
import pandas as pd

filepath = 'https://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

fake_header_data = pd.read_csv(filepath)

In [8]:
print(fake_header_data.head(10))
print(fake_header_data.tail())

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN
5  733831    1  06/07/2013   WROM  Z005227500041     NaN    NaN
6   69112    2  11/09/2010   ABAN  X089575916879     NaN    NaN
7  853884    2  09/10/2004   WBRI  U096513817313     NaN    NaN
8  634852    2  19/10/2006   WIRI  X019131453866     NaN    NaN
9  512087    1  01/10/2003   MOTH  J091207487052     NaN    NaN
       CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
2670  152113    1  06/06/2003   WBRI  K096794376750     NaN    NaN
2671  481370    2  12/02/2008   BAFR  C014150452081     NaN    NaN
2672  791577    1  28/05/2011   WBRI  Q009369089812     NaN    NaN
2673  238470    1  21/11/2013   AIND  P095222532769     NaN    NaN
2674  437361    1  15/12/2012   WROM  G018001328504     NaN    NaN

In [9]:
workers = pd.DataFrame(
    [
        {'Name': 'David Richards',
      'Salary': 23600,
      'Job Title': 'Burger Flipper'},
      {'Name': 'Milo Relo',
      'Salary': 38450,
      'Job Title': 'Robot Cleaner'},
      {'Name': 'Jenny Paloe',
      'Salary': 19700,
      'Job Title': 'Funny Guy'},
      {'Name': 'Margie Felhouse',
      'Salary': 31500,
      'Job Title': 'Frozen Food Procurer'},
      {'Name': 'Brian Workansen',
      'Salary': 25000,
      'Job Title': 'Bingo Organiser'},
    ]
)
print(workers)

print(workers[['Salary','Job Title']])

              Name  Salary             Job Title
0   David Richards   23600        Burger Flipper
1        Milo Relo   38450         Robot Cleaner
2      Jenny Paloe   19700             Funny Guy
3  Margie Felhouse   31500  Frozen Food Procurer
4  Brian Workansen   25000       Bingo Organiser
   Salary             Job Title
0   23600        Burger Flipper
1   38450         Robot Cleaner
2   19700             Funny Guy
3   31500  Frozen Food Procurer
4   25000       Bingo Organiser

In [10]:
workers['Salary'] = workers['Salary'].astype('int')
print(workers['Salary'].dtypes)

mean_salary = workers['Salary'].mean()
sum_salary = workers['Salary'].sum()
max_salary = workers['Salary'].max()
min_salary = workers['Salary'].min()

print(f'Mean = {mean_salary}, Sum = {sum_salary}, Max = {max_salary}, Min = {min_salary}.')

int64
Mean = 27650.0, Sum = 138250, Max = 38450, Min = 19700.

## Session 3

In [31]:
import pandas as pd
import numpy as np

filename = '/workspaces/python-d2i-learning/ChildIdentifiers.csv'

data = pd.read_csv(filename)

print(data.head())


data['Date of Birth'] = pd.to_datetime(data['PersonBirthDate'], format='%Y-%m-%d', errors='coerce')

data['Age of Person'] = pd.to_datetime('today').normalize() - data['Date of Birth']

data['Age of Person'] = (data['Age of Person'] / pd.Timedelta('365 days')).astype('int')
print(data[['PersonBirthDate', 'Date of Birth','Age of Person']])

   Unnamed: 0        LAchildID            UPN  FormerUPN  UPNunknown  \
0           0  RND000215205141  A850728973744        NaN         NaN
1           1  RND000824303014  A141396438491        NaN         NaN
2           2  RND000750143123  A929946861554        NaN         NaN
3           3  RND000909164501  A612330267292        NaN         NaN
4           4  RND000382171815  A604459366806        NaN         NaN

  PersonBirthDate ExpectedPersonBirthDate  GenderCurrent PersonDeathDate
0      2019-12-06                     NaN              1             NaN
1      2011-04-27                     NaN              9             NaN
2      2017-06-06              2019-12-06              1             NaN
3      2014-10-03                     NaN              0             NaN
4      2019-09-25                     NaN              2             NaN
    PersonBirthDate Date of Birth  Age of Person
0        2019-12-06    2019-12-06              4
1        2011-04-27    2011-04-27             12
2        2017-06-06    2017-06-06              6
3        2014-10-03    2014-10-03              9
4        2019-09-25    2019-09-25              4
..              ...           ...            ...
327      2010-07-07    2010-07-07             13
328      2018-08-14    2018-08-14              5
329      2021-12-09    2021-12-09              2
330      2013-07-23    2013-07-23             10
331      2021-10-25    2021-10-25              2

[332 rows x 3 columns]

In [51]:
gender_map = {1: 'Male',
              2:'Female',
              4:'Unknown',
              9:'Unknown'
            }

data['GenderCategory'] = data['GenderCurrent'].map(gender_map)


over_18_condition = data['Age of Person'] > 18
over_18_male_condition = (data['Age of Person'] > 18) & (data['GenderCategory'] == 'Male')

sliced_df = data[over_18_male_condition]

task_condition = (data['Age of Person'] <=15 | data['GenderCategory' == 'Male']) 
task_condition_2 = (data['Age of Person' >= 15] | data['GenderCategory' == 'Female'])
task_df = data[task_condition]

KeyError: False