## Session 5 - Looping

In [2]:
numbers = list(range(1,11))

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [4]:
alphabet = ["a","b","c","d","e","f","g"]

for letter in alphabet:
    print(letter)

word_list = []
word = "abcdefghijklmnopqrstuvwxyz"

for character in word:
    word_list.append(character)

print(word_list)

a
b
c
d
e
f
g
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [5]:
for left_number in numbers:
    for right_number in numbers:
        x = left_number * right_number
        print(x)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

In [6]:
spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']

sandwich = []

for spread in spreads:
    for topping in toppings:
        sandwich.append(f"{spread} & {topping}")

print(sandwich)

['butter & ham', 'butter & cheese', 'butter & sardines', 'jam & ham', 'jam & cheese', 'jam & sardines', 'peanut butter & ham', 'peanut butter & cheese', 'peanut butter & sardines']

In [7]:
dict_1 = {"key 1": 1,
          "key 2": 2,
          "key 3": 3}

for key, value in dict_1.items():
    print(f"{key}:{value}")

key 1:1
key 2:2
key 3:3

In [8]:
food_places = {"kfc": "chicken",
               "mcdonalds": "burgers",
               "dominos": "pizzas"}

for restaurant, food in food_places.items():
    print(f"{restaurant} sells {food}")

kfc sells chicken
mcdonalds sells burger
dominos sells pizza

In [13]:
import pandas as pd

df = pd.DataFrame({"numbers":[1,2,3],
                  "letters":["a","b","c"],
                  "animals":["cat","dog","rat"]})

even_or_odd = lambda row: 'even' if row % 2 == 0 else 'odd'

df['Even or Odd'] = df['numbers'].apply(even_or_odd)

df

   numbers letters animals Even or Odd
0        1       a     cat         odd
1        2       b     dog        even
2        3       c     rat         odd