## Session 7 - Functions

In [2]:
def sum_func(a,b):
    calculation = a+b
    return calculation


sum_func(4,8)

12

In [5]:
def divide_func(a,b):
    calc_divide = a / b
    return calc_divide

divide_func(10,5)

2.0

In [7]:
def sum_multi(x, y):
    sum_xy = x + y
    multi_xy = x * y
    return sum_xy, multi_xy

sum_multi(5,10)

(15, 50)

In [8]:
def sum_prod(x, y):
    sum_xy = x + y
    prod_xy = x * y
    return sum_xy, prod_xy

first_no = 13
second_no = 34
j, k = sum_prod(x=first_no, y=second_no)
phrase = {f'The sum of {first_no} and {second_no} is {j}, the product of {first_no} and {second_no} is {k}'}
print(phrase)

{'The sum of 13 and 34 is 47, the product of 13 and 34 is 442'}

In [1]:
import pandas as pd

df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

In [3]:
def cp_checker(row):
    if "y" in row.lower():
        return "YES"
    else:
        return "NO"
    
df['CP Plan? Clean'] =df['CP Plan?'].apply(cp_checker)

df

  ChildId  Age first contact Gender    Birthday CP Plan? CP Plan? Clean
0     id1                  6      M  01/01/2002        Y            YES
1     id2                 12      m  02/02/2003        n             NO
2     id3                 11      F        <NA>        N             NO
3     id4                  1         03/03/2023       No             NO
4     id5                 19      F  06/01/2012      yES            YES

In [4]:
def age_checker(row):
    if row >= 10:
        return "10+"
    else:
        return "Under 10"
    
df['Age Category'] = df['Age first contact'].apply(age_checker)

df

,ChildId,Age first contact,Gender,Birthday,CP Plan?,CP Plan? Clean,Age Category
0,id1,6,M,01/01/2002,Y,YES,Under 10
1,id2,12,m,02/02/2003,n,NO,10+
2,id3,11,F,<NA>,N,NO,10+
3,id4,1,,03/03/2023,No,NO,Under 10
4,id5,19,F,06/01/2012,yES,YES,10+